body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Optional background color */
}

.flower-container {
    cursor: pointer; /* Change cursor to indicate it's clickable */
}

#flowerImage {
    max-width: 300px; /* Adjust size as needed */
    height: auto;
    transition: transform 0.3s ease-in-out; /* Optional animation */
}

#flowerImage:hover {
    transform: scale(1.05); /* Optional hover effect */
}

#tiktokEmbedContainer {
    margin-top: 20px;
}

.hidden {
    display: none;
}
